{{#each sections}}
<a name="{{anchor}}"></a>
<section style="background-color:{{color}};">
    <div class="section-content">
        <div class="section-content-left">
            <img src="images/{{image}}" alt="favourite-thing-image">
        </div>
        <div class="section-content-right">
            <h1 class="section-heading">{{heading}}</h1>
            <h3 class="section-subheading">{{subheading}}</h3>
            <p class="section-text">{{description}}</p>
        </div>
    </div>
</section>
{{/each}}